<header>
  <img
    src="assets/img/cadu.jpg"
    alt="Carlos Eduardo - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
    />
    <h1>Carlos Eduardo</h1>
</header>

<aside>
    <div class="container">
      <p>Java | React.js | JavaScript | Node.js | HTML | CSS | Gulp.js | JQuery | Bootstrap | Vue.js</p>
      <p>Maringá, Paraná, Brasil</p>
      <p>
        Sou um estudante que faz Análise e desenvolvimento de sistemas , além da faculdade faço curso online para aprimorar
        meu conhecimento.
      </p>

      <nav>
        <ul>
          <li>
            <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
              Download Cv
            </a>
          </li>

          <li>
            <a
              href="https://www.linkedin.com/in/carlos-eduardo-b4761326a/"
              target="_blank"
              class="btn btn-secondary"
            >
              LinkedIn
            </a>
          </li>
        </ul>
      </nav>

      <section>
        <figure>
          <img
            src="assets/icons/whatsapp.svg"
            alt="Ícone para contato do Whatsapp"
            width="22px"
            height="24px"
            />

            <figcaption>
              <a href="https://api.whatsapp.com/send?phone=5544997714545&text=Ol%C3%A1%20Carlos, %20tudo%20bem?"
              target="_blank">
                <strong>Envie uma Mensagem para:</strong>
                <p>WhatsApp: (44) 99771-4545</p>
              </a>
            </figcaption>
        </figure>

        <figure>
          <img
            src="assets/icons/mail.svg"
            alt="Ícone para contato do e-mail"
            width="22px"
            height="24px"
            />

            <figcaption>
              <a href="mailto:carlossamparoo@gmail.com"
              target="_blank">
                <strong>Envie um e-mail para:</strong>
                <p>carlossamparoo&#64;gmail.com</p>
              </a>
            </figcaption>
        </figure>


      </section>
    </div>
</aside>
